button {
    margin: 5px;
}

.row {
    background-color: lightgray;
    padding: 10px 20px 10px 20px;
    border-radius: 50px;
    width: fit-content;
    display: inline-block;
    margin-bottom: 10px;
}

.whiteboard {
    margin: 1% 10% 1% 10%;
    border-radius: 25px;
    text-align: center;
    height: 45%;
    background-image: url("squarred.jpg");
}

.container {
    height: max-content !important;
    width: max-content !important;
}